
<div class="text-center">
    <h1>Welcome to Hotel Reservations Manager</h1>
    <hr class="bg-white" />
    <h3><a class="nav-link-dark" asp-area="Identity" asp-page="/Account/Login">Login</a> </h3>
    <h3><a class="nav-link nav-link-white" asp-area="Identity" asp-page="/Account/Register">Create User</a> </h3>
    <h4>You must have an account to work.</h4>
</div>
